* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  width: 320px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.country-list {
  list-style: none;
  margin: 0;
}

.country-list-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.country-list-element p {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
